In [1]:
import pandas as pd
import numpy as np

In [4]:
imdb = pd.read_csv('resources/IMDb_movies.csv')
imdb.head(5)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [6]:
imdb_df = imdb.drop(columns=['date_published', 'genre', 'description', 'original_title', 'duration', 'language', 'actors', 'avg_vote', 'votes', 'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore', 'reviews_from_users', 'reviews_from_critics'])
imdb_df.head(5)

,imdb_title_id,title,year,country,director,writer,production_company
0,tt0000009,Miss Jerry,1894,USA,Alexander Black,Alexander Black,Alexander Black Photoplays
1,tt0000574,The Story of the Kelly Gang,1906,Australia,Charles Tait,Charles Tait,J. and N. Tait
2,tt0001892,Den sorte drøm,1911,"Germany, Denmark",Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama
3,tt0002101,Cleopatra,1912,USA,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players
4,tt0002130,L'Inferno,1911,Italy,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film

In [7]:
# Conver tuple in multiple value column to list
imdb_df2 = imdb_df.assign(director=imdb_df.director.str.split(','))
imdb_df2

,imdb_title_id,title,year,country,director,writer,production_company
0,tt0000009,Miss Jerry,1894,USA,[Alexander Black],Alexander Black,Alexander Black Photoplays
1,tt0000574,The Story of the Kelly Gang,1906,Australia,[Charles Tait],Charles Tait,J. and N. Tait
2,tt0001892,Den sorte drøm,1911,"Germany, Denmark",[Urban Gad],"Urban Gad, Gebhard Schätzler-Perasini",Fotorama
3,tt0002101,Cleopatra,1912,USA,[Charles L. Gaskill],Victorien Sardou,Helen Gardner Picture Players
4,tt0002130,L'Inferno,1911,Italy,"[Francesco Bertolini, Adolfo Padovan]",Dante Alighieri,Milano Film
...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,2020,"France, Belgium",[Ludovic Colbeau-Justin],"Alexandre Coquelle, Matthieu Le Naour",Monkey Pack Films
85851,tt9911196,De Beentjes van Sint-Hildegard,2020,Netherlands,[Johan Nijenhuis],"Radek Bajgar, Herman Finkers",Johan Nijenhuis & Co
85852,tt9911774,Padmavyuhathile Abhimanyu,2019,India,[Vineesh Aaradya],"Vineesh Aaradya, Vineesh Aaradya",RMCC Productions
85853,tt9914286,Sokagin Çocuklari,2019,Turkey,[Ahmet Faik Akinci],"Ahmet Faik Akinci, Kasim Uçkan",Gizem Ajans
85854,tt9914942,La vida sense la Sara Amat,2019,Spain,[Laura Jou],"Coral Cruz, Pep Puig",La Xarxa de Comunicació Local

In [17]:
# Using Pandas explode to separate director names into another column
imdb_df3 = imdb_df2.explode('director')
imdb_df3

,imdb_title_id,title,year,country,director,writer,production_company
0,tt0000009,Miss Jerry,1894,USA,Alexander Black,Alexander Black,Alexander Black Photoplays
1,tt0000574,The Story of the Kelly Gang,1906,Australia,Charles Tait,Charles Tait,J. and N. Tait
2,tt0001892,Den sorte drøm,1911,"Germany, Denmark",Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama
3,tt0002101,Cleopatra,1912,USA,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players
4,tt0002130,L'Inferno,1911,Italy,Francesco Bertolini,Dante Alighieri,Milano Film
...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,2020,"France, Belgium",Ludovic Colbeau-Justin,"Alexandre Coquelle, Matthieu Le Naour",Monkey Pack Films
85851,tt9911196,De Beentjes van Sint-Hildegard,2020,Netherlands,Johan Nijenhuis,"Radek Bajgar, Herman Finkers",Johan Nijenhuis & Co
85852,tt9911774,Padmavyuhathile Abhimanyu,2019,India,Vineesh Aaradya,"Vineesh Aaradya, Vineesh Aaradya",RMCC Productions
85853,tt9914286,Sokagin Çocuklari,2019,Turkey,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan",Gizem Ajans
85854,tt9914942,La vida sense la Sara Amat,2019,Spain,Laura Jou,"Coral Cruz, Pep Puig",La Xarxa de Comunicació Local